@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: Lato, sans-serif;

  --color-rural-50: #FCFBF9;
  --color-rural-700: #556B2F;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}